.login-button {
    display:flex;
    justify-content: flex-end;
    margin:20px;
    cursor: pointer;
}

.nav-section {
    display:flex;
    justify-content: center;
}

.menu-list {
    display:flex;
    list-style-type: none;
}

.menu-list li {
    padding:10px;
}

.menu-area {
    display:flex;
    justify-content: center;
}

.input-style{
    border-left-width:0; 
    border-right-width:0; 
    border-top-width:0; 
    border-bottom-width:1;
}

.search-area {
    display:flex;
    justify-content: flex-end;
}

.img-style :hover{
    transform:scale(1.1);
}

.product-img {
    display:flex;
    justify-content: flex-end;
}

.dropdown{
    margin-top: 30px;
    margin-bottom: 30px;
}
